/* R E S P O N S I V E 

- tablet
- mobile portrait
- mobile landscape

*/

/* TABLET, UP TO 1024px WIDTH */

/* Header */ 

@media (max-width: 1024px) {
  .header-wrapper {
     width: 75vw;
     padding-left: 15vw;
  }
  
  .navigation {
    width: 50vw;
  }
  
  .link {
    padding-bottom: 1rem;
  }
 
  /* Adress & Contact field column */ 
  
  .address-column {
    left: 5vw;
    width: 42vw;
  }
  
  .contact-field-column {
    right: 5vw;
    width: 42vw;
  } 
  
  .address-wrapper, .contact-field-wrapper {
    width: 35vw;
    height: auto;
    padding-left: 3.75vw;
    padding-top: 3vh;
  }  
}

/* MOBILE, UP TO 768px WIDTH */

/* Overall */

@media (max-width: 768px) {
  .box{
    position: relative;
  }
  
  .container {
    width: 100vw;
    height: auto;
  }

  /* header */
  
  .header-wrapper {
    width: 90vw;
    padding-left: 5vw;
  }
  
  .header-logo {
    width: 20vw;
  }
  
  .navigation {
    font-size: .5rem;
    width: 60vw;
  }
  
  .link {
    padding-bottom: 1rem;
  }

  
  /* address & contact column */ 
  
  .address-column {
    top: 5vh;
    width: 90vw;
    left: 5vw;
    bottom: 5vh;
    padding-bottom: 5vh;
    height: auto;
  }
  
  .contact-field-column {
    top: 10vh;
    width: 90vw;
    left: 5vw;
    bottom: 5vh;
    padding-bottom: 5vh;
    height: auto;
  }
  
  .address-wrapper, .contact-field-wrapper {
    width: 80vw;
    top: 5vh;
    left: 5vw;
    bottom: 5vh;
    height: 100%;
  }
  
  .social-media-link {
    width: 1.5rem;
    height: 1.5rem;
    
  }
  
  .social-media-icon {
    font-size: 1.5rem;
    padding: .1rem;
  }
  
  button {
    top: 5vh;
  }
  
  /* footer */
    
  .footer {
    font-size: .4rem;
    top: 15vh;
  }
  
  .footer-content {
    width: 80vw;
    padding-left: 10vw;
    padding-top: 3vh;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .address-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  button {
    height: 3rem;
  }  
}
  
